@use "../util" as *;

.list-item__check {
  width: rem(24);
  height: rem(24);
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid var(--clr-check-border);

  &:hover {
    cursor: pointer;
    border: 2px solid var(--clr-dashed);
  }

  &--inactive:hover {
    cursor: default;
    border: 2px solid var(--clr-check-border);
  }
}

.checked {
  background-image: url("/images/icon-check.svg"), var(--clr-check-bg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  border: none;
}
