@use "../util/" as *;

.content__options {
  background-color: var(--clr-list);
  border-radius: 0 0 0.4rem 0.4rem;
  color: var(--clr-filters);
  box-shadow: 0 rem(8) rem(16) var(--clr-shadow);

  &__filters__btn {
    background-color: transparent;
    border: none;
    font-size: inherit;
    font-family: inherit;
    color: inherit;

    &:hover {
      color: var(--clr-text-hover);
      cursor: pointer;
    }
  }

  &__filters__btn--selected {
    color: var(--clr-accent);
  }

  p {
    margin: 0;
  }
}
