@use "../util/" as *;

.content__options {
  background-color: var(--dt-v-dark-desat-blue);
  border-radius: 0 0 0.4rem 0.4rem;
  color: var(--dt-light-grayish-blue);

  &__filters__btn {
    background-color: transparent;
    border: none;
    font-size: inherit;
    font-family: inherit;
    color: inherit;

    &:hover {
      color: var(--accent);
      cursor: pointer;
    }
  }

  &__filters__btn--selected {
    color: var(--accent);
  }

  p {
    margin: 0;
  }
}
