@use "../util" as *;

.list-item {
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: rem(16) rem(24);
  gap: rem(20);
  background-color: var(--clr-list);
  border-radius: 0.4rem;
  color: var(--clr-text);

  &__text {
    width: 80%;
    border: none;
    background-color: transparent;
    color: inherit;
    font-size: rem(16);
    font-family: inherit;
    overflow: hidden;
  }

  &__text:focus {
    outline: none;
  }

  &__text::placeholder {
    color: var(--clr-filters);
  }

  &__delete {
    display: none;
    position: absolute;
    top: 50%;
    right: rem(20);
    transform: translate(0, -50%);
    width: rem(20);
    height: rem(20);
    border: none;
    background: transparent url("/images/icon-cross.svg") no-repeat;

    &:hover {
      cursor: pointer;
    }
  }

  &:hover &__delete {
    display: block;
  }
}

.completed {
  color: var(--clr-dashed);
  text-decoration: line-through var(--clr-dashed);
}

.text--clickable:hover {
  cursor: pointer;
}
